body {
  background: #121212;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  width: 400px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

.task-input {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #00bcd4;
  color: white;
  cursor: pointer;
}

li {
  background: #2a2a2a;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}